
StatePattern_Toker_Demo/.vs/Lexical Scanner/v15/Server/sqlite3/db.lock
StatePattern_Toker_Demo/.vs/Lexical Scanner/v15/Server/sqlite3/storage.ide
StatePattern_Toker_Demo/.vs/Lexical Scanner/v15/Server/sqlite3/storage.ide-shm
StatePattern_Toker_Demo/.vs/Lexical Scanner/v15/Server/sqlite3/storage.ide-wal
